include "spawn.kdl"
include "input.kdl"
include "window-rules.kdl"
include "layer-rules.kdl"
include "binds.kdl"

layout {
  gaps 8
  center-focused-column "never"
  always-center-single-column
  background-color "transparent"

  default-column-width { proportion 0.5; }
  preset-column-widths {
    proportion 0.33333
    proportion 0.5
    proportion 0.66667
  }

  border {
    on
    width 2
    inactive-color "#7c6f64"
    active-color "#D4BE98"
  }

  focus-ring {
    off
  }

  struts {
     left 8
     right 8
     top 0
     bottom 8
  }

}

animations {
  slowdown 0.33333
}

blur {
  off
}

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot-%Y%m%d%-H%M%S.png"

hotkey-overlay {
  skip-at-startup
}

overview {
  workspace-shadow {
    off
  }
}

