* {
    font-family: "FantasqueSansM Nerd Font", monospace;
    font-size: 16px;
    font-weight: bold;
    min-height: 0;
    border: 0;
    border-radius: 0;
}

window#waybar {
    background: #181512;
    color: #d4be98;
    border: 2px solid #d4be98;
}

#mpd,
#wireplumber,
#battery,
#network,
#tray,
#clock,
#idle_inhibitor {
    padding: 0 10px;
    color: #d4be98;
    background: transparent;
}

#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 8px;
    color: #7c6f64;
    background: transparent;
}

#workspaces button.active {
    background: #d4be98;
    color: #181512; 
}

/* --- WINDOW TITLE --- */
#window {
    padding: 0 15px;
    color: #a89984;
}

#mpd {
    color: #e8c6a9;
}

#bluetooth {
    color: #e8c6a9;
}


#clock {
    color: #e8c6a9;
}

#battery.charging {
    color: #a9b665;
}

#battery.warning {
    color: #ea6962;
    background: #2a1a18;
}

#network.disconnected {
    color: #ea6962;
}

